<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hyperNet">
      <section name="hyperNode" type="Hyper.NodeServices.Configuration.HyperNodeConfigurationSection, Hyper.NodeServices" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="Hyper.NodeServices.HyperNodeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://HyperNode" />
          </baseAddresses>
        </host>
        <endpoint address="NodeService1" binding="netNamedPipeBinding"
                  contract="Hyper.NodeServices.Contracts.IHyperNodeService" />
      </service>
    </services>
  </system.serviceModel>
  <hyperNet>
    <hyperNode name="NodeService1">
      <commandModules>
        <add name="UpdateDatabase" enabled="true"
             type="NodeExtensions.DbCommands.DbUpdateCommand, NodeExtensions.DbCommands" />
        <add name="ExecStoredProc" enabled="true"
             type="NodeExtensions.DbCommands.ExecuteStoredProcedureCommand, NodeExtensions.DbCommands" />
        <add name="SpecificService1" enabled="true"
             type="NodeService1.CommandModules.NodeService1SpecificCommand, NodeService1" />
      </commandModules>
    </hyperNode>
  </hyperNet>
</configuration>