<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="hyperSoa">
      <section name="hyperNode" type="Hyper.NodeServices.Configuration.HyperNodeConfigurationSection, Hyper.NodeServices"/>
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="Hyper.NodeServices.HyperNodeService">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://HyperNode"/>
          </baseAddresses>
        </host>
        <endpoint address="NodeService1" binding="netNamedPipeBinding" contract="Hyper.NodeServices.Contracts.IHyperNodeService"/>
      </service>
    </services>
  </system.serviceModel>
  <hs:hyperSoa xmlns:hs="http://www.hypersoa.net/HyperSOAConfigSchema">
    <hs:hyperNode name="HyperNode1"/>
  </hs:hyperSoa>
</configuration>