<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hyper.Core" version="1.0.0.0" targetFramework="net45" />
  <package id="Hyper.Core.Extensibility" version="1.0.0.0" targetFramework="net45" />
  <package id="Hyper.NodeServices.Contracts" version="1.0.0.0" targetFramework="net45" />
  <package id="Hyper.NodeServices.Contracts.Extensibility" version="1.0.0.0" targetFramework="net45" />
  <package id="Hyper.NodeServices.Extensibility" version="1.0.0.0" targetFramework="net45" />
</packages>